<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>studioAppWEB</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddStudentServlet</display-name>
  	<servlet-name>AddStudentServlet</servlet-name>
  	<servlet-class>logic.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LoginServlet</display-name>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>logic.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddLibrarianServlet</display-name>
  	<servlet-name>AddLibrarianServlet</servlet-name>
  	<servlet-class>logic.servlet.AddLibrarianServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateSeatsServlet</display-name>
  	<servlet-name>UpdateSeatsServlet</servlet-name>
  	<servlet-class>logic.servlet.UpdateSeatsServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SuperviseServlet</display-name>
  	<servlet-name>SuperviseServlet</servlet-name>
  	<servlet-class>logic.servlet.SuperviseServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>StudentStateServlet</display-name>
  	<servlet-name>StudentStateServlet</servlet-name>
  	<servlet-class>logic.servlet.StudentStateServlet</servlet-class>
  </servlet>
    <servlet>
  	<description>
  	</description>
  	<display-name>ReportListStudentServlet</display-name>
  	<servlet-name>ReportListStudentServlet</servlet-name>
  	<servlet-class>logic.servlet.ReportListStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ReportListLibraryServlet</display-name>
  	<servlet-name>ReportListLibraryServlet</servlet-name>
  	<servlet-class>logic.servlet.ReportListLibraryServlet</servlet-class>
  </servlet>
   <servlet>
  	<description>
  	</description>
  	<display-name>ReportFormServlet</display-name>
  	<servlet-name>ReportFormServlet</servlet-name>
  	<servlet-class>logic.servlet.ReportFormServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ReportDetailsLibraryServlet</display-name>
  	<servlet-name>ReportDetailsLibraryServlet</servlet-name>
  	<servlet-class>logic.servlet.ReportDetailsLibraryServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>StudentSearchResultServlet</display-name>
  	<servlet-name>StudentSearchResultServlet</servlet-name>
  	<servlet-class>logic.servlet.StudentSearchResultServlet</servlet-class>
  </servlet>
   <servlet>
  	<description>
  	</description>
  	<display-name>StudentHomeServlet</display-name>
  	<servlet-name>StudentHomeServlet</servlet-name>
  	<servlet-class>logic.servlet.StudentHomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>StudentSearchLibrServlet</display-name>
  	<servlet-name>StudentSearchLibrServlet</servlet-name>
  	<servlet-class>logic.servlet.StudentSearchLibrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddStudentServlet</servlet-name>
  	<url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddLibrarianServlet</servlet-name>
  	<url-pattern>/AddLibrarianServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSeatsServlet</servlet-name>
  	<url-pattern>/UpdateSeatsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SuperviseServlet</servlet-name>
  	<url-pattern>/SuperviseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentStateServlet</servlet-name>
  	<url-pattern>/StudentStateServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>ReportListStudentServlet</servlet-name>
  	<url-pattern>/ReportListStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReportListLibraryServlet</servlet-name>
  	<url-pattern>/ReportListLibraryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReportFormServlet</servlet-name>
  	<url-pattern>/ReportFormServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>ReportDetailsLibraryServlet</servlet-name>
  	<url-pattern>/ReportDetailsLibraryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentSearchResultServlet</servlet-name>
  	<url-pattern>/StudentSearchResultServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentHomeServlet</servlet-name>
  	<url-pattern>/StudentHomeServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>StudentSearchLibrServlet</servlet-name>
  	<url-pattern>/StudentSearchLibrServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>